In [1]:
import os
import pandas as pd

data_dir = "./datasets/data/DIOR/coco"
file_path = os.path.join(data_dir, "full_class_10_shot_support_df.pkl")
df = pd.read_pickle(file_path)
print("training df= ", file_path)
df.head()

training df=  ./datasets/data/DIOR/coco/full_class_10_shot_support_df.pkl

,support_box,category_id,image_id,id,file_path
0,"[51.0, 61.0, 268.0, 261.0]",1,3637,30114,/home/bibahaduri/DIOR/coco/full_class_10_shot_...
1,"[57.0, 64.0, 262.0, 255.0]",1,3637,30115,/home/bibahaduri/DIOR/coco/full_class_10_shot_...
2,"[63.0, 59.0, 260.0, 260.0]",1,3637,30116,/home/bibahaduri/DIOR/coco/full_class_10_shot_...
3,"[60.0, 56.0, 263.0, 263.0]",1,3637,30117,/home/bibahaduri/DIOR/coco/full_class_10_shot_...
4,"[49.0, 67.0, 270.0, 255.0]",1,3637,30118,/home/bibahaduri/DIOR/coco/full_class_10_shot_...

In [6]:
df['file_path'] = df['file_path'].str.replace('/home/bibahaduri/DIOR', './datasets/data/DIOR')
df.to_pickle(file_path)
df.head()

,support_box,category_id,image_id,id,file_path
0,"[51.0, 61.0, 268.0, 261.0]",1,3637,30114,./datasets/data/DIOR/coco/full_class_10_shot_s...
1,"[57.0, 64.0, 262.0, 255.0]",1,3637,30115,./datasets/data/DIOR/coco/full_class_10_shot_s...
2,"[63.0, 59.0, 260.0, 260.0]",1,3637,30116,./datasets/data/DIOR/coco/full_class_10_shot_s...
3,"[60.0, 56.0, 263.0, 263.0]",1,3637,30117,./datasets/data/DIOR/coco/full_class_10_shot_s...
4,"[49.0, 67.0, 270.0, 255.0]",1,3637,30118,./datasets/data/DIOR/coco/full_class_10_shot_s...